//- layout.pug
doctype html
html
  head
    title A Dance Academy
    block style 
    block scripts 
  body
    block content
    block foot
        footer 
          | The super cooler footer | @copyright 