h1 {
    text-align: center;
}

.myinput {
    display: flex;
    margin: 14px;
    height: 45px;
    width: 600px;
    border-radius: 30px;
    background-color: antiquewhite;
    padding-left: 10px;
    outline: none;
}

.contacted {
    margin-left: 27%;
    margin-bottom: 29.1vh;
}

button {
    border: 2px solid black;
    height: 40px;
    width: 90px;
    font-size: large;
    border-radius: 15px;
    background-color: rgb(235, 84, 84);
    margin-left: 275px;
    outline: none;
}

